@import "compass";
@import "framework/varibles";
.moods-zone{
	
}
.moods-list{
	float: left;
	margin:20px;
	padding:5px;
	max-width: 200px;
	max-height: 16px;
	overflow: hidden;
	border-radius: $radius;
	border:1px solid orange;
	overflow: hidden;
	display: block;
	&:hover{
		color:#fff;
		background:$subColor;
		cursor: pointer;
	}
}
.post-detail{
	background: #fff;
	display: inline-block;
	vertical-align: middle;
	min-width: 400px;
	min-height:100px;
	text-align: center;
	border:1px solid $subColor;
	border-radius: $radius;
	position: relative;
	.post-content{
		font-size: 14px;
		line-height: 1.8;
	}
	.post-time{
		padding-left: 15px;
	}
	.close-btn{
		position: absolute;
		top:0;
		right: 10px;
		font-size: 20px;
		color:#999;
		cursor: pointer;
	}
}
.post-detail-zone{
	padding:20px;
}