@import "compass";
@import "framework/varibles";
.moods-zone{
	
}
.moods-list{
	float: left;
	margin:20px;
	padding:5px;
	max-width: 200px;
	max-height: 16px;
	overflow: hidden;
	border-radius: $radius;
	border:1px solid orange;
	overflow: hidden;
	display: block;
	&:hover{
		color:#fff;
		background:$subColor;
		cursor: pointer;
	}
}
.post-detail-zone{
	padding:20px;
}
.post-content{
	font-size: 14px;
	line-height: 1.8;
}
.post-time{
	padding-left: 15px;
}
.add-post-detail{

}