// header
@mixin header{
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height:40px;
	line-height: 40px;
	padding:0 40px;
	background: $mainColor;
	.logo{
		float: left;
		width:53px;
		height: 40px;
		margin-right: 15px;
		overflow: hidden;
		background: url(#{$imageUrl}logo.png) no-repeat left top
	}
	.today-mood{
		overflow: hidden;
		color:#fff
	}
}
@mixin footer{
	text-align: center;
}
@mixin mask{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	text-align: center;
	background: rgba(252,252,252,.5);
	z-index:1000;
	.mask-line{
		display: inline-block;
		width: 1px;
		height: 100%;
		vertical-align: middle;
	}
}