//variable

//imgURL
$imageUrl:"/static/images/";

// color
$mainColor:#0a64c8;/* rgba:10 100 200 */
$subColor:#ffa500;
// radius
$radius:5px;
$radiusSmall:3px;

//line-height
$lineheight:1.5;
$lineheightSmall:1.2;